@model IEnumerable<Bookme.ViewModels.ApplicationUserViewModel>
@inject Bookme.IHelper.IUserHelper _userHelper

@{
    ViewData["Title"] = "ViewMore";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

//     var userId = Model.FirstOrDefault().Id;
//     var checkAvailable = _userHelper.CheckIfAvailable(userId);
 }

<div id="main">
    <div class="container">

        @if (Model != null && Model?.Count() > 0)
        {
            <div class="row">
                <h4 class="mt-3 col-12 text-center"><b>@Model?.FirstOrDefault()?.CategoryName</b></h4>

                 @foreach (var categoryUser in Model)
                 {
                    <div class=" mb-3 mt-3 col-sm-12  col-lg-3" >

                        <div class=" card  mt-3  shadow mb-3">
                        @if (categoryUser.IsAvailable == true)
                            {
                                <a class=" badge badge-success mx-2 mt-3"> Available </a>
                            }
                            else
                            {
                                <a class=" badge badge-danger mx-2 mt-3"> Not Available </a>
                            }
                            @if (categoryUser.Image != null)
                            {
                                <img class="card-img-top rounded-circle mt-2 h-75 w-80" src="@categoryUser.Image">
                            }
                            else
                            {
                                <img class="card-img-top rounded-circle  mt-2 h-70 w-80" src="~/Images/dm.png">
                            }
                                    
                            <div class="card-body">
                                <h4 class="card-title">@categoryUser.FirstName  @categoryUser.LastName</h4>
                                <div>
                                    <p>
                                        <b>User Name:</b> @categoryUser.UserName <br />
                                        <b>Specialty:</b>   @categoryUser.MusicSpecialization  <br />
                                        <b>price:</b>  @categoryUser.Price
                                    </p>
                                </div>
                            @if (categoryUser.IsAvailable == true)
                                {
                                    <a class="btn text-white" style="background-color: #3CB371" asp-action="BookingForm" asp-controller="Admin" asp-route-id="@categoryUser.Id">Bookme</a>
                                    <a class="btn text-white float-right" style="background-color: #3CB371" data-toggle="modal" data-target="#userDetails" onclick="viewBookedDetails('@categoryUser.Id')"><i class="fa fa-eye"></i></a>

                                }
                                else
                                {
                                    <button class="btn text-white btn-outline-dark" style="background-color: black" disabled>Bookme</button>
                                    <a class="btn text-white float-right" style="background-color: #3CB371" data-toggle="modal" data-target="#userDetails" onclick="viewBookedDetails('@categoryUser.Id')"><i class="fa fa-eye"></i></a>

                                }
                            </div>
                        </div>
                               
                    </div>

                 }
                    
            </div>
        }
    </div>
   
</div>